@import "colors.css";

* {
	font-family: "Noto Sans";
	font-size: 14;
	font-weight: bolder;
	margin: 0;
	padding: 0;
}

window#waybar {
	background: transparent;
	color: @primary;
}

.modules-right,
.modules-left,
.modules-center {
	margin: 6 8 0 8;
}

.modules-right,
#window,
#clock,
#workspaces,
#workspaces button,
#cpu,
#memory,
#idle_inhibitor {
	border-radius: 30;
	/* background: alpha(@primary_container, 1.0); */
	/* background: alpha(@surface, 1.0); */
	background: alpha(@surface_container_lowest, 1.0);
}

.modules-right,
#window,
#clock,
#workspaces,
#cpu,
#memory,
#idle_inhibitor {
	/* border: 2px solid @primary; */
	/* border: 2px solid @surface; */
	border: 2px solid @surface_container_lowest;
}

#window,
#clock,
#workspaces,
#cpu,
#memory,
#idle_inhibitor{
	padding: 0 8;
	margin: 0 2;
}

#window,
#clock {
	font-size: 18;
	padding: 0 15;
}

#idle_inhibitor {
	padding: 0 15 0 11;
}

#workspaces {
	margin: 0 20;
	padding: 0;
}

#workspaces button {
	color: @primary;
	padding: 0 5;
}

#workspaces button.active,
#workspaces button.visible {
	color: @surface_container_lowest;
	background: @primary;
	padding: 0 10;
}

#battery,
#backlight,
#network,
#pulseaudio {
	margin: 0 8;
}

#battery.critical {
	color: red;
}
#battery.warning {
	color: yellow;
}
.modules-right {
	padding: 0 5;
}
