@import "colors.css";

* {
	font-family: "Noto Sans";
	font-size: 18px;
	font-weight: bolder;
	margin: 0;
	padding: 0;
}

window#waybar {
	background: transparent;
	color: @primary_fixed_dim;
	margin: 0;
	padding: 0;
}

.modules-right,
.modules-left,
.modules-center {
	margin: 4 30 2;
	padding: 0 20;
}

#window,
#clock,
#workspaces,
#idle_inhibitor{
	background: alpha(@on_primary_fixed, 0.3);
	border-radius: 30px;
	padding: 0 5 0 5;
	border: 2px solid @primary_fixed_dim;
}
#window {
	padding: 0 20;
}
#clock {
	padding: 0 20;
}
#idle_inhibitor {
	padding: 0 20 0 15;
}
#workspaces {
	background: alpha(@on_primary_fixed, 0.3);
	padding: 2;
}
#workspaces button {
	color: @primary_fixed_dim;
	padding: 0 7;
	background: transparent;
	border-radius: 30;
	margin: 2;

}
#workspaces button.active,
#workspaces button.visible {
	margin: 2;
	color: @on_primary_fixed;
	background: @primary_fixed_dim;
	padding: 0 10;
	border-radius: 30px;
}
#battery,
#backlight,
#network,
#pulseaudio {
	margin: 0 8 0;
	font-size: 16px;
}
#battery.critical {
	color: red;
}
#battery.warning {
	color: yellow;
}
.modules-right {
	border: 2px solid @primary_fixed_dim;
	background: alpha(@on_primary_fixed, 0.3);
	border-radius: 30px;
}
