@import "colors.css";

* {
	font-family: "Noto Sans";
	font-size: 16;
	font-weight: bolder;
	margin: 0;
	padding: 0;
}

window#waybar {
	background: transparent;
	color: @primary_fixed_dim;
}

.modules-right,
.modules-left,
.modules-center {
	margin: 3 8 0 8;
}

.modules-right,
#window,
#clock,
#workspaces,
#workspaces button,
#cpu,
#memory,
#idle_inhibitor {
	border-radius: 50;
	background: alpha(@on_primary_fixed, 1.0);
}

.modules-right,
#window,
#clock,
#workspaces,
#cpu,
#memory,
#idle_inhibitor {
	border: 2px solid @primary_fixed_dim;
}

#window,
#clock,
#workspaces,
#cpu,
#memory,
#idle_inhibitor{
	padding: 0 8;
	margin: 0 2;
}

#window,
#clock {
	padding: 0 15;
}

#idle_inhibitor {
	padding: 0 15 0 11;
}

#workspaces {
	margin: 0 20;
	padding: 0;
}

#workspaces button {
	color: @primary_fixed_dim;
	padding: 0 5;
}

#workspaces button.active,
#workspaces button.visible {
	color: @on_primary_fixed;
	background: @primary_fixed_dim;
	padding: 0 10;
}

#battery,
#backlight,
#network,
#pulseaudio {
	margin: 0 8;
}

#battery.critical {
	color: red;
}
#battery.warning {
	color: yellow;
}
.modules-right {
	padding: 0 5;
}
