* {
	background-image: none;
	box-shadow: none;
	font-family: Noto Sans;
	font-weight: bolder;
}

window {
    background-color: rgba(32, 80, 38, 0.0);
}

button {
    border-radius: 32;
    border-color: #b9f0b7;
	text-decoration-color: #b9f0b7;
    color: #b9f0b7;
	font-size: 20px;
	background-color: #205026;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 10px;
}

button:active, button:hover {
	background-color: #3a4b39;
	outline-style: none;
	margin: 20px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
